POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL="postgresql://${POSTGRES_USERNAME}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/currency_converter?schema=public"

EXCHANGE_RATE_API_KEY="replace-me"
EXCHANGE_RATE_API_BASE_URL="https://openexchangerates.org/api"
EXCHANGE_RATE_CACHE_TTL_SECONDS="3600"
